<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Art Change UP</h1>
    <h2>현재 디폴트 방은 1번입니다</h2>
    <button onclick="roomSend()">Submit</button>
  </body>
  <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
  <script>
    async function roomSend() {
      try {
        const {data} = await axios.post("/api/user/1");
        console.log("data >> ", data);
      } catch (err) {
        console.error(err);
      }
    }
  </script>
</html>
